[Unit]
Description={{ item | capitalize }} for the observability POC
After=network-online.target
Wants=network-online.target

[Service]
Environment="BEAT_STRICT_PERMS=false"
ExecStart=/opt/observability/{{ item }}-{{ beats_version }}-linux-{{ beats_arch }}/{{ item }} -e -c /etc/{{ item }}/{{ item }}.yml --path.data /var/lib/{{ item }} --path.logs /var/log/{{ item }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
