[Unit]
Description=PostgreSQL POC database
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/library/postgres:17
ContainerName=observability-postgresql
PublishPort=5432:5432
Environment=POSTGRES_DB={{ postgresql_database }}
Environment=POSTGRES_USER={{ postgresql_user }}
Environment=POSTGRES_PASSWORD={{ postgresql_password }}
Volume=postgresql-data:/var/lib/postgresql/data:Z
Volume=/var/log/postgresql:/var/log/postgresql:Z
Memory=512m
Exec=postgres -c logging_collector=on -c log_directory=/var/log/postgresql -c log_filename=postgresql.log

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
