extensions:
  # Documentation : https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/healthcheckextension
  health_check:
    endpoint: 0.0.0.0:13133

processors:
  memory_limiter:
    check_interval: 1s
    limit_mib: 400
    spike_limit_mib: 100
  batch:
    timeout: 1s
    send_batch_size: 512
  batch/logs:
    timeout: 1s
    send_batch_size: 50
    send_batch_max_size: 50
  resource/internal-telemetry:
    attributes:
      - key: data_stream.dataset
        value: collectortelemetry
        action: upsert
      - key: service.name
        value: otel-gateway
        action: upsert
      - key: service.version
        value: "{{ elastic_agent_version }}"
        action: upsert
      - key: service.instance.id
        value: "{{ inventory_hostname }}"
        action: upsert

receivers:
  # Documentation : https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/otlpreceiver
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4319
      grpc:
        endpoint: 0.0.0.0:4320

  # Documentation : https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/otlpreceiver
  otlp/internal:
    protocols:
      grpc:
        endpoint: 127.0.0.1:4321

exporters:
  # Documentation : https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/kafkaexporter
  kafka/otlp:
    brokers: ["{{ otel_gateway_kafka_broker }}"]
    traces:
      topic: otel-traces
      encoding: otlp_proto
    metrics:
      topic: otel-metrics
      encoding: otlp_proto
    logs:
      topic: otel-logs
      encoding: otlp_proto

service:
  extensions: [health_check]
  telemetry:
    resource:
      service.name: otel-gateway
      deployment.environment.name: homologation
    metrics:
      level: detailed
      readers:
        - periodic:
            interval: 3000
            exporter:
              # Documentation : https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/otlpexporter
              otlp:
                protocol: grpc
                endpoint: http://127.0.0.1:4321
        - pull:
            exporter:
              # Documentation : https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/prometheusexporter
              prometheus:
                host: 0.0.0.0
                port: 8888
    logs:
      processors:
        - batch:
            exporter:
              # Documentation : https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/otlpexporter
              otlp:
                protocol: grpc
                endpoint: http://127.0.0.1:4321
    traces:
      processors:
        - batch:
            exporter:
              # Documentation : https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/otlpexporter
              otlp:
                protocol: grpc
                endpoint: http://127.0.0.1:4321
  pipelines:
    metrics/internal-telemetry:
      receivers: [otlp/internal]
      processors: [memory_limiter, resource/internal-telemetry, batch]
      exporters: [kafka/otlp]
    logs/internal-telemetry:
      receivers: [otlp/internal]
      processors: [memory_limiter, resource/internal-telemetry, batch/logs]
      exporters: [kafka/otlp]
    traces/internal-telemetry:
      receivers: [otlp/internal]
      processors: [memory_limiter, resource/internal-telemetry, batch]
      exporters: [kafka/otlp]
    traces:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [kafka/otlp]
    metrics:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [kafka/otlp]
    logs:
      receivers: [otlp]
      processors: [memory_limiter, batch/logs]
      exporters: [kafka/otlp]
