security.protocol=SASL_PLAINTEXT
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="{{ otel_kafka_consumer_username }}" password="{{ otel_kafka_consumer_password }}";
