extensions:
  # Documentation : https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/storage/filestorage
  file_storage:
    directory: /var/lib/otel
  # Documentation : https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/healthcheckextension
  health_check:
    endpoint: 0.0.0.0:13134

receivers:
  # Documentation : https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/receiver/kafkareceiver
  kafka/otlp:
    brokers: ["{{ otel_kafka_broker }}"]
    protocol_version: 3.9.0
    group_id: otel-backend
    traces:
      topics: [otel-traces]
      encoding: otlp_proto
    metrics:
      topics: [otel-metrics]
      encoding: otlp_proto
    logs:
      topics: [otel-logs]
      encoding: otlp_proto

  # Documentation : https://github.com/open-telemetry/opentelemetry-collector/tree/main/receiver/otlpreceiver
  otlp/internal:
    protocols:
      grpc:
        endpoint: 127.0.0.1:4322

processors:
  memory_limiter:
    check_interval: 1s
    limit_mib: 700
    spike_limit_mib: 150
  transform/ecs-log-correlation:
    log_statements:
      - context: log
        statements:
          - set(attributes["trace.id"], attributes["trace_id"]) where attributes["trace_id"] != nil
          - set(attributes["span.id"], attributes["span_id"]) where attributes["span_id"] != nil
      - context: scope
        statements:
          - set(attributes["elastic.mapping.mode"], "ecs")
    trace_statements:
      - context: scope
        statements:
          - set(attributes["elastic.mapping.mode"], "ecs")
    metric_statements:
      - context: scope
        statements:
          - set(attributes["elastic.mapping.mode"], "ecs")
  batch:
    timeout: 1s
    send_batch_size: 512
  resource/internal-telemetry:
    attributes:
      - key: data_stream.dataset
        value: collectortelemetry
        action: upsert
      - key: service.name
        value: otel-kafka-exporter
        action: upsert
      - key: service.version
        value: "{{ elastic_agent_version }}"
        action: upsert
      - key: service.instance.id
        value: "{{ inventory_hostname }}"
        action: upsert

exporters:
  # Documentation : https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/otlphttpexporter
  otlphttp/apm-server:
    endpoint: "{{ apm_server_url }}"
    headers:
      Authorization: "Bearer ${env:APM_SERVER_SECRET_TOKEN}"
  # Documentation : https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/elasticsearchexporter
  elasticsearch/otel:
    endpoints: ["{{ elasticsearch_url }}"]
    api_key: ${env:ELASTICSEARCH_API_KEY}
    sending_queue:
      enabled: true
      queue_size: 1000
      storage: file_storage

service:
  extensions: [health_check, file_storage]
  telemetry:
    resource:
      service.name: otel-kafka-exporter
      deployment.environment.name: homologation
    metrics:
      level: detailed
      readers:
        - periodic:
            interval: 3000
            exporter:
              # Documentation : https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/otlpexporter
              otlp:
                protocol: grpc
                endpoint: http://127.0.0.1:4322
        - pull:
            exporter:
              # Documentation : https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/prometheusexporter
              prometheus:
                host: 0.0.0.0
                port: 8889
    logs:
      processors:
        - batch:
            exporter:
              # Documentation : https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/otlpexporter
              otlp:
                protocol: grpc
                endpoint: http://127.0.0.1:4322
    traces:
      processors:
        - batch:
            exporter:
              # Documentation : https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/otlpexporter
              otlp:
                protocol: grpc
                endpoint: http://127.0.0.1:4322
  pipelines:
    metrics/internal-telemetry:
      receivers: [otlp/internal]
      processors: [memory_limiter, resource/internal-telemetry, batch]
      exporters: [elasticsearch/otel]
    logs/internal-telemetry:
      receivers: [otlp/internal]
      processors: [memory_limiter, resource/internal-telemetry, batch]
      exporters: [elasticsearch/otel]
    traces/internal-telemetry:
      receivers: [otlp/internal]
      processors: [memory_limiter, resource/internal-telemetry, batch]
      exporters: [elasticsearch/otel]
    traces:
      receivers: [kafka/otlp]
      processors: [memory_limiter, batch]
      exporters: [otlphttp/apm-server]
    metrics:
      receivers: [kafka/otlp]
      processors: [memory_limiter, batch]
      exporters: [elasticsearch/otel]
    logs:
      receivers: [kafka/otlp]
      processors: [memory_limiter, transform/ecs-log-correlation, batch]
      exporters: [elasticsearch/otel]
