<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="co.elastic.logging.logback.EcsEncoder">
            <serviceName>${OTEL_SERVICE_NAME:-apm-demo}</serviceName>
            <serviceEnvironment>${DEPLOYMENT_ENVIRONMENT:-local}</serviceEnvironment>
            <serviceVersion>${SERVICE_VERSION:-1.0.0}</serviceVersion>
            <serviceNodeName>${HOSTNAME:-unknown}</serviceNodeName>
            <eventDataset>${OTEL_SERVICE_NAME:-apm-demo}</eventDataset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
