server.host: 0.0.0.0
server.port: 5601
server.publicBaseUrl: https://kibana.observability.test
elasticsearch.hosts: ["http://127.0.0.1:9200"]
xpack.encryptedSavedObjects.encryptionKey: "{{ kibana_encryption_key }}"
xpack.security.encryptionKey: "{{ kibana_security_key }}"
xpack.reporting.encryptionKey: "{{ kibana_reporting_key }}"
xpack.fleet.agents.enabled: true
xpack.fleet.agents.fleet_server.hosts: ["http://fleet.observability.test:8220"]
xpack.fleet.registryUrl: https://epr.elastic.co
xpack.fleet.packages:
  - name: fleet_server
    version: 1.2.0
  - name: system
    version: 1.20.4
